# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Intellij #
.idea
*.iml

# crash logs
hs_err_pid*

HELP.md

target/
blog-vue/dist/
blog-vue/node_modules/

src/main/resources/
src/test/
/src/main/resources/application-default.yml
/dump.rdb
