/* General */
html, body {
    margin: 0;
    padding: 0;
}
.mr-auto  {
    margin-right: auto!important;
}
.ml-auto {
    margin-left: auto!important;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-select {
    user-select:none;
}
/* General */

/* LedgerIcon */
.out-button {
    border: #DCDFE6 solid thin;
    background-color: #f56c6c;
}
.out-button:hover {
    color: #606266;
    background-color: #f78989;
}
.out-button:focus {
    color: #606266;
    background-color: #f78989;
}
.out-button:visited {
    color: #606266;
    background-color: #f78989;
}
.out-button:active {
    background-color: white;
    color: #f56c6c;
    border: #f56c6c solid thin;
}


.in-button {
    border: #DCDFE6 solid thin;
    background-color: #f56c6c;
}
.in-button:hover {
    color: #606266;
    background-color: #f78989;
}
.in-button:focus {
    color: #606266;
    background-color: #f78989;
}
.in-button:visited {
    color: #606266;
    background-color: #f78989;
}
.in-button:active {
    background-color: white;
    color: #f56c6c;
    border: #f56c6c solid thin;
}
/* LedgerIcon */


/* Font */
.t1 {
    font-size: 32px;
}
.t2 {
    font-size: 24px;
}
.t3 {
    font-size: 18px;
}
.t4 {
    font-size: 16px;
}
.t5 {
    font-size: 13px;
}
/* Font */


/* Colors */
.bold {
    font-weight: bold;
}
.blue {
    color: #3a8ee6;
}
.yellow {
    color: #ffc83d;
}
.grey {
    color: #8c939d;
}
.black {
    color: black;
}
.white {
    color: white !important;
}
/* Colors */



/* Auto Resize */
.mobile-show {
    display: none;
}

@media screen and (max-width: 1092px) {
    .mobile-nav-bar {
        width: 96% !important;
        padding: 0 2% !important;
    }
    .mobile-80 {
        width: 80% !important;
    }
}

@media screen and (max-width: 850px) {
    .mobile-full {
        width: 100% !important;
        margin: 0 auto !important;
    }
    .mobile-100 {
        width: 100% !important;
        height: 100% !important;
        margin: 40px auto !important;
    }
    .mobile-90 {
        width: 90% !important;
    }
}

@media screen and (max-width: 577px) {
    .mobile-hide {
        display: none !important;
    }
    .mobile-show {
        display: block !important;
    }
}
/* Auto Resize */